<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>韩曦经销商管理端</title>

    <!-- Google font file. If you want you can change. -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

    <!-- Fontawesome font file css -->
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">

    <!-- Template global css file. Requared all pages -->
    <link rel="stylesheet" type="text/css" href="../static/css/global.style.css">
</head>

<body>
<div class="wrapper">
    <div class="wrapper-inline">
        <!-- Header area start -->
        <header> <!-- extra class no-background -->
            <a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
            <h1 class="page-title">SIGN UP</h1>

        </header>
        <!-- Header area end -->
        <!-- Page content start -->
        <main>
            <div class="container">


                <div class="form-divider"></div>
                <div class="form-label-divider"><span>经销商注册界面</span></div>
                <div class="form-divider"></div>
                <form id="myForm">
                    <div class="form-row-group with-icons">
                        <div class="form-row no-padding">
                            <i class="fa fa-user"></i>
                            <input type="text" name="dealerName" class="form-element" placeholder="用户名" id="dealerName">
                        </div>
                        <div class="form-row no-padding">
                            <i class="fa fa-lock"></i>
                            <input type="password" name="dealerPassword" class="form-element" placeholder="密码"
                                   id="dealerPassword">
                        </div>
                        <div class="form-row no-padding">
                            <i class="fa fa-lock"></i>
                            <input type="password" name="secondPassword" class="form-element" placeholder="确认密码"
                                   id="secondPassword">
                        </div>

                        <div class="form-row no-padding">
                            <i class="fa fa-code"></i>
                            <textarea class="form-element" rows="6" id="grantcode" name="grantCode" placeholder="授权码"></textarea>
                        </div>
                        <div class="form-row no-padding">

                            <input type="checkbox" name="admission" id="admission"/>&nbsp&nbsp同意<a data-popup="basicPopup">《代理商制度》 </a>

                        </div>


                    </div>
                </form>
                <div class="form-divider"></div>

                <div class="form-row">
                    <a href="#" class="button circle block orange" data-popup="basicPopup" id="register">注册</a>
                </div>

                <div class="form-row txt-center mt-15">
                    已经拥有账号? <a href="dealer_login.html" data-loader="show">登录</a>
                </div>

            </div>
        </main>
        <!-- Page content end -->
    </div>
</div>
<div class="popup-overlay" id="basicPopup"> <!-- if you dont want overlay add class .no-overlay -->
    <div class="popup-container">
        <div class="popup-content">
            <span id="msg">请好好做人！</span>
        </div>
    </div>
</div>

<!--Page loader DOM Elements. Requared all pages-->
<div class="sweet-loader">
    <div class="box">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
    </div>
</div>

<!-- JQuery library file. requared all pages -->
<script src="../static/js/jquery-3.2.1.min.js"></script>

<!-- Template global script file. requared all pages -->
<script src="../static/js/global.script.js"></script>
<script>
    $(function () {
        $("#register").click(function () {
            console.log($("#myForm").serialize());

            if ($("#dealerPassword").val() != $("#secondPassword").val()) {
               $("#msg").html("两次输入密码不一致！");
            }else if($("#admission").prop('checked')!=true){
                $("#msg").html("请同意协议！");
            } else{
                $.post("../dealer/register", $("#myForm").serialize(),
                    function (data, status) {
                        $("#msg").html(data);
                        if (data === "注册成功")
                            window.location.href = "/dealer_index.html";
                    });
            }
        });

    });

</script>

</body>

</html>
